outlet-rivers/R/X_landsat_data_quality_control_testing.R
.Rproj.user
outlet-rivers/exports/
outlet-rivers/figures/
outlet-rivers/imports/
outlet-rivers/.DS_Store/
outlet-rivers/R/R.zip

# Remove zip files to limit upload times
outlet-rivers/*.zip
.DS_Store

# Remove imports
outlet_river_controls/imports/
outlet_river_controls/figures/
